@charset "utf-8";
/* 
            Pagina                   : estilos.css
            Descripción              : Hoja de estilos para estándares de diseño GMD
            Fecha de Creación        : 02/02/2011
            Autor                    : Eduardo Sánchez Castillo / Mónica Shiroma Díaz
------------------------------------------------------------------------------------------------
            Modificaciones
------------------------------------------------------------------------------------------------
            Motivo               Fecha               Nombre                        Descripción
-------------------------------------------------------------------------------------------------

/* Estilos generales para todas las páginas  */
* {
	margin:0;
	padding:0;
	outline:0;
	list-style:none;
	position: relative;}

html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #000000;}

body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	background-color:#FAFAFA;
	background-image:url(../images/fondo2.png);
	/*background-image:url("../images/bgFondoPlantilla.gif");*/
	/*background-position:top;
	background-repeat:repeat-x;*/
	text-align:center;}

body#lightbox {
	margin: 0;
	padding: 0;
	background-color:#ffffff;
	background-image:none;}

p {margin: 0px;}

img {border: 0;}

h1{
	font-family:Verdana;
	font-size:28px;
	font-weight:normal;
	color:#FFFFFF;
	margin-top:7px;
	display:block;
}
h2 {
	margin:0;
	margin-top:8px;
	padding:0;
	padding-left:12px;
	height:35px; /* 43px - padding-top */
	padding-top:8px;
	background:url("../images/bgFondoCabeceraTitulo.gif") #FFFFFF top repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	color:#0069aa;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;}

h3{ 
	margin-top:10px;
	margin-left:13px;
	margin-right:13px;
	margin-bottom:10px;
	border: 1px #c7ccd0 solid;
	background-color:#FFFFFF;
	display:block;
	clear:both;
}

h3 span{  
	height:21px; /* 26px - padding-top */
	margin-left:1px;
	margin-right:1px;
	padding: 5px 4px 0 9px; /* padding-top:5px; padding-right:4px; padding-left:9px; */
	background:url("../images/bgSubTitulo.gif") bottom repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing:0.5px;
	text-align:left;
	text-transform:uppercase;
	color:#0069aa;
	display:block;}

h4{
	height:14px; /* 17px - 2px (border-bottom) */
	padding:0px;
	margin-left:39px;
	margin-right:39px;
	margin-top:12px;
	margin-bottom:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#444444;
	font-size:11px;
	font-weight:bold;
	border-bottom:2px #fcb92b solid;
	text-transform:uppercase;
	display:block;
	clear:both;}

form{margin: 0 0 0 0;}

a{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{}
a:visited{}

/* Empieza la Maquetacion de la Web */

div#contenedor{
	width:96%;
	min-width:760px;
	height: auto !important;
    height: 100%;
	margin-top:7px;
	display:inline-block;
	clear:both;
	border: 0px;
	border-color: transparent;
}

div#cabecera{
	width:100%;
	height:76px;
	background:url("../images/bgFondoCabecera2.png") top repeat-x;
	display:block;
	clear:both;
	text-align:center;}

div#logoCabecera{
	width:77px;
	height:76px;
	background:url("../images/gLogoCabecera.gif") top left no-repeat;
	display:inline-block;}

div#extremoDerecho{
	width:3px;
	height:76px;
	/*background:url("../images/bgFondoCabeceraExtremo.gif") top right no-repeat;*/
	display:inline-block;}

.parrafo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-left: 15px; 
	padding-right: 15px;
	padding-bottom: 20px;
	text-align:left;
	margin-bottom:10px;
}
	
div#bloqueTextos{
	font-family:Arial, Helvetica, sans-serif;
	height:21px; /* 26px - padding-top */
	padding-top:5px;
	display:block;
	text-align:left;}

div#bloqueTextos span#fechaAnio{
	font-size:10px;
	color:#555555;
	margin-left:12px;
	display:inline-block;
	text-align:left;
	float:left;}

div#bloqueTextos span#nombreUsuario{
	font-size:11px;
	color:#444444;
	display:inline-block;
	text-align:right;
	float:right;}

div#bloqueTextos span#nombreUsuario b{
	color:#0069aa;
	font-weight:bold;}

table.anchoMaximo{
	width:100%;
	border-collapse: collapse;
	border: none;
	border-spacing: 0px;
	background:none;}

table.anchoMaximo td#anchoLogo{
	width:77px;
	vertical-align:top;}

table.anchoMaximo td#anchoTextos{
	width:100%;
	text-align:center;
	vertical-align:top;}

table.anchoMaximo td#anchoExtremo{
	width:3px;
	vertical-align:top;}

div#bloqueSombra{
	display:block;
	text-align:left;
	float:left;
	height:35px;
	width:100%;}

img#bgSombra{
	position:absolute;
	z-index:1;
	width:100%;
	height:23px;}

span#informacionRuta{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#444444;
	position:absolute;
	top:19px;
	left:220px;
	overflow:auto;
	z-index:2;}

span#informacionRuta a{text-decoration: none; color:#0069aa;}
	
span#informacionRuta a:hover{text-decoration: none; color:#bf3131;}

a#btnCerrarSession{
	font-family:"Trebuchet MS";
	font-size:11px;
	font-weight:bold;
	color:#444444;
	background:url("../images/gCerrarSession.gif") right top no-repeat;
	margin-right:3px;
	padding-top:3px;
	padding-right:27px;
	position:absolute;
	height:19px; /* 19px - padding-top */
	top:14px;
	right:0;
	overflow:auto;
	z-index:3;}
	
a#btnCerrarSession:hover{
	background:url("../images/gCerrarSession_o.gif") right top no-repeat;
	color:#bf3131;}

table.anchoTotal{
	border-collapse: collapse;
	border: none;
	border-spacing: 0px;
	background:none;
	border: 0px;
	}

table.anchoTotal td#anchoMenu{vertical-align:top; border: 0px; }

table.anchoTotal td#anchoCuerpo{
	width:100%;
	vertical-align:top;
	border: 0px;
}

div#cuerpo{
	width:100%;
	min-width:780px;
	height: auto!important; /* para los browsers buenos */
	 height: 100%;
	/*height: 458px;  para IE5+ */
	min-height: 460px; /* para los browsers buenos */
	display:block;
	clear:both;
	text-align:left;}

div#menuPrincipal{
	width:220px; /* 199px - 2px border */
	height: auto!important; /* para los browsers buenos */
    height: 100%;
	/*height: 458px;  para IE5+ */
	min-height: 458px; /* para los browsers buenos */
	background:#FFFFFF;
	border:1px #c7ccd0 solid;
	margin-right:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	display:block;
	float:left;}

*html div#menuPrincipal{display:inline;}

div#contenido{
	width:100%;
	height: auto!important; /* para los browsers buenos */
	height: 458px; /* para IE5+ */
	min-height: 458px; /* para los browsers buenos */
	background:#FFFFFF;
	border:1px #c7ccd0 solid;
	display:block;
	float:right;
	
}

/* ================================================
=====================INICIO CSS MENU ==============
===================================================*/

ul#men_ContenedorItem, ul#men_ContenedorItem li ul#men_SubContItem{  
	width: 185px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#0069aa;}

ul#men_ContenedorItem{margin-bottom:9px;}

ul#men_ContenedorItem li{
	width: 180px;
	height: auto!important; /* para los browsers buenos */
	height: 34px; /* para IE5+ */
	min-height: 34px; /* para los browsers buenos */
	background:url("../images/pxLineaMenu.gif") bottom repeat-x;
	margin-left:auto;
	font-size:12px;
	font-weight:bold;
	margin-right:auto;}

ul#men_ContenedorItem a{
	width: 180px; /* 183px - padding-left */
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	height: auto!important; /* para los browsers buenos */
	height: 23px; /* 33px - padding-top */ /* para IE5+ */
	min-height: 23px; /* 33px - padding-top */ /* para los browsers buenos */
	padding-top:11px;
	padding-left:25px;
	font-size:14px;
	color:#0069aa;
	font-weight:bold;
	text-decoration:none;
	cursor: pointer;}

ul#men_ContenedorItem a:hover{color:#003b5f;}

ul#men_ContenedorItem a.notcurrent{
	/*width: 198px;*/
	background:url("../images/icoTituloMenu.gif") left top no-repeat;
	background-position: 3px 12px;
	cursor:pointer;
	display:block;}

ul#men_ContenedorItem a.current{
	color:#f1a402;
	background:url("../images/icoTituloMenuCurrent.gif") left top no-repeat;
	background-position: 3px 12px;
	cursor:pointer;
	display:block;}

ul#men_ContenedorItem a.notchildren{
	background:url("../images/icoTituloMenu.gif") left top no-repeat;
	background-position: 3px 12px;}

ul#men_ContenedorItem li ul.men_SubContItem li{
	width:157px;
	margin-left:auto;
	margin-right:auto;
	background:url("../images/pxLineaSubMenu.gif") top repeat-x;
	height: auto!important; /* para los browsers buenos */
	height: 32px; /* para IE5+ */
	min-height: 32px; /* para los browsers buenos */}

ul#men_ContenedorItem li ul.men_SubContItem li a{
	display: block;
	padding:0px;
	padding-left:23px;
	padding-top:8px;
	font-size:12px;
	color:#0069aa;
	font-weight:normal;
	text-decoration: none;
	background:url("../images/icoSubTituloMenu.gif") left top no-repeat;
	background-position: 12px 12px;}

/* Cuadno paso el mouse por cualquier elemento del menu*/
ul#men_ContenedorItem li ul.men_SubContItem li a:hover {
	color:#006600;
	/*background:url("../images/icoSubTituloMenu_o.gif") #99CCCC left top no-repeat;*/
	font-size:14px;
	font-weight:bold;;
	background:url("../images/icoSubTituloMenu_o.gif") left top no-repeat;
	background-position: 12px 12px;}

ul#men_ContenedorItem li ul.men_SubContItem li#subcurrent{background:none;}

ul#men_ContenedorItem li ul.men_SubContItem li#subcurrent a{color:#f1a402;}

/*=====================================
 =============FIN CSS MENU ============
 ======================================*/

div#piePagina{
	height:30px; /* 34px - (2px border + padding-top) */
	border:1px #dddddd solid;
	padding:10px 0 0 9px;
	margin-top:19px;
	text-align:left;
	font-size:11px;
	color:#999999;
	background-color : #fff;
	display:block;
	clear:both;
	/*position:absolute;*/
	 bottom:0px;
	 width:100%;
}

/* ESC FOR CAPA TABLA */

table.bloqueTablaLineal{
	display:block;
	margin-bottom:8px;
	color:#37516d;
	font-size:11px;
	border-collapse: collapse;
	border: none;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

* html table.bloqueTablaLineal{display:inline;}

table.bloqueTablaLineal th{
	width:100px;
	color:#444444;
	font-size:11px;
	text-align:right;
	padding-right:12px;
	padding-top:6px;
	padding-bottom:8px;}

table.bloqueTablaLineal td{
	
	text-align:left;
	border:none;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
table.bloqueTablaLineal input.esc_for_cap_calendario{
	width:137px; /* 141px */
	height:15px; /* 19px - 2px border - 2px padding */
	
        font-size:11px;
	background:#eff7fe;
	padding:2px 0 0 2px;
        
        
	border:1px #9dd0ef solid;
	display:block;
	float:left;
        color:#10549b;
        }

table.bloqueTablaLineal input.esc_for_cap_calendario2{
	width:257px; /* 141px */
	height:15px; /* 19px - 2px border - 2px padding */
	font-size:11px;
	background:#eff7fe;
	padding:2px 0 0 2px;
	border:1px #9dd0ef solid;
	display:block;
	float:left;
        color:#10549b;
        }


table.bloqueTablaLineal input.esc_for_cap_calendario90{
	width:90px; /* 141px */
	height:15px; /* 19px - 2px border - 2px padding */
	font-size:11px;
	background:#eff7fe;
	padding:2px 0 0 2px;
	border:1px #9dd0ef solid;
	display:block;
	float:left;
        color:#10549b;
        }
        
        
table.bloqueTablaLineal input.esc_for_cap_calendario180{
	width:180px; /* 141px */
	height:15px; /* 19px - 2px border - 2px padding */
	font-size:11px;
	background:#eff7fe;
	padding:2px 0 0 2px;
	border:1px #9dd0ef solid;
	display:block;
	float:left;
    color:#10549b;
}
        
table.bloqueTablaLineal input.esc_for_cap_calendario49{
	width:49px; /* 141px */
	height:15px; /* 19px - 2px border - 2px padding */
	font-size:11px;
	background:#eff7fe;
	padding:2px 0 0 2px;
	border:1px #9dd0ef solid;
	display:block;
	float:left;
    color:#10549b;
}

table.bloqueTablaLineal a.esc_for_cap_calendario{
	width:25px;
	height:26px;
	background:url("../images/btnCalculadora.gif") no-repeat;
	margin-left:2px;
	display: block;
	float:left;}
        
        table.bloqueTablaLineal input.esc_for_cap_calendario98{
	width:25px;
	height:26px;
	background:url("../images/btnCalculadora.gif") no-repeat;
	margin-left:2px;
	display: block;
	float:left;}

table.bloqueTablaLineal a.esc_for_cap_calendario:hover{background:url("../images/btnCalculadoraHover.gif") no-repeat;}

table.bloqueTablaLineal select{
	width:90px;
	height:19px;
	color:#fff;
	font-size:11px;
	text-align:center;
	background:#3CB371;
	border:1px #006600 solid;}


.boton {
   border-top: 1px solid #29b522;
   background: #65d668;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c42), to(#65d668));
   background: -webkit-linear-gradient(top, #3e9c42, #65d668);
   background: -moz-linear-gradient(top, #3e9c42, #65d668);
   background: -ms-linear-gradient(top, #3e9c42, #65d668);
   background: -o-linear-gradient(top, #3e9c42, #65d668);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.boton:hover {
   border-top-color: #216629;
   background: #216629;
   color: #ffffff;
}
.boton:active {
   border-top-color: #105c1b;
   background: #105c1b;
}
   
div.capaEnlace{
	height: auto!important; /* para los browsers buenos */
	height: 35px;  /* para IE5+ */
	min-height: 35px; /* para los browsers buenos */
	margin-left:39px;
	margin-right:39px;
	margin-bottom:20px;
	display:block;
	clear:both;}

div.capaEnlace textarea{
	height:50px;
	margin-left:39px;
	margin-right:39px;
	background:#eff7fe;
	border:1px #7f9db9 solid;
	color:#000000;}

table.tablaAnchoAjustable{
	border:none;
	border-collapse:collapse;
	background:none;}

table.tablaAnchoAjustable td{border:none;}

table.tablaAnchoAjustable th{border:none}

ul.enlacesCentroAjustables{  
	height: auto!important; /* para los browsers buenos */
	height: 34px;  /* para IE5+ */
	min-height: 34px; /* para los browsers buenos */
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align:center;
	display:inline-block;}

ul.enlacesCentroAjustables li{
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	float:left;
}
/* BOTONES CON IAMGENES REEMPLAZADO POR .boton*/
ul.enlacesCentroAjustables a.btnEnlaceCentro {/* imagen derecha */
	font-family:"Tahoma"!important;
    background:url("../images/btn_escritorioRight.gif") no-repeat scroll top right!important;
    display: block;
    float: left;
    height: 31px!important;
    margin:0px 0px 10px 0px!important;
    padding: 0px 5px 0px 0px!important;
	color: #FFFFFF!important;
	text-align:center!important;
	text-decoration: none!important;
	font-size:12px!important;
	font-weight:bold!important; 
	border:none!important;
	cursor:pointer!important;}

ul.enlacesCentroAjustables a.btnEnlaceCentro span {/* imagen izquierda */
    background:url("../images/btn_escritorioLeft.gif") no-repeat!important; 
    display: inline-block!important;
    line-height: 24px!important;
	height:31px!important;
	padding-top:0px!important;
	padding-left:26px!important;
	padding-right:20px!important;
	color: #FFFFFF!important;
	text-align:center!important;
	text-transform:none!important;} 

ul.enlacesCentroAjustables a.btnEnlaceCentro:hover{
	width:auto;
    background:url("../images/btn_escritorioRightHover.gif") no-repeat scroll top right!important;
	color: #FFFFFF!important;}

ul.enlacesCentroAjustables a.btnEnlaceCentro:hover span{
	width:auto;
	background:url("../images/btn_escritorioLeftHover.gif") no-repeat!important;
	color: #FFFFFF!important;
	padding-top:0px!important; }
/* FIN BOTON IMAGENES */

div.bloqueListadoDatos{  
	height:auto!important;
	height:20px;
	min-height:20px;
	margin-left:39px;
	margin-right:39px;
	display:block;
	clear:both;}

div.cabeceraListado{
	width:100%;
	height:20px!important;
	margin-bottom:8px!important;
	font-size:11px;
	display:block;
	clear:both;}

div.cabeceraListado span{
	color:#444444;
	padding-top:6px!important;
	display:block;
	float:left;}

div.cabeceraListado ul.paginacionListado{  
	height:20px!important;
	margin: 0!important;
	padding: 0!important;
	list-style-type: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#767676;
	display:block;
	float:right;}

div.cabeceraListado ul.paginacionListado li{
	width:auto;
	margin:0px 0px 0px 3px!important;
	display:block;
	padding:0px!important;
	float:left; /*para eliminar el comportamiento de elemento de bloque(salto de linea)*/
	cursor:pointer;}

div.cabeceraListado ul.paginacionListado li p{
	height:15px; /* 20px - (2px border + padding-top) */
	padding-top:3px;
	padding-left:4px;
	padding-right:4px;
	color:#afafaf;
	display:block;
	float:left;
	background-color:#f7f7f7;
	border:1px #e8e8e8 solid;}

div.cabeceraListado ul.paginacionListado li a.pag{
	height:15px!important; /* 20px - (2px border + padding-top) */
	width:auto!important;
	margin:0px!important;
	padding-top:3px;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:0px;
	color:#767676;
	display:block;
	float:left;
	background-color:#FFFFFF;
	border:1px #CCCCCC solid;}

div.cabeceraListado ul.paginacionListado li a.pag:hover{
	color:#003366!important;
	width:auto!important;
	margin:0px!important;
	background-color:#e9f4fd!important;
	border:1px #003366 solid!important;
	text-decoration:none;!important}

div.cabeceraListado ul.paginacionListado li#active{background:none;}

div.cabeceraListado ul.paginacionListado li#active a{
	color:#003366;
	background-color:#fcb92b;
	border:1px #003366 solid;
	display:block;
}

/* INICIO EFECTO SORTABLE TABLE */

div.tablaListado{
	width:100%;
	display:block;
	clear:both;}

#html div.tablaListado{
	width:100%;
	display:block;
	clear:both;}

div.tablaListado table{
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:20px;
	border-right:1px #cde0f0 solid;
	border-top:1px #cde0f0 solid;}

#html div.tablaListado table{
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:20px;
	border:1px #cde0f0 solid;}

div.tablaListado table thead{clear:both;}

#html div.tablaListado table thead{clear:both;}

.tituloTabla{
	height:20px; /* 22px - (2px + padding-top) */
	background:url("../images/bg_listadoHead.gif") repeat-x;
	border-left:1px #cee0f0 solid;
	border-bottom:1px #cee0f0 solid;
	font-size:11px;
	color: #0069aa;
	font-weight: bold;
	text-align: center;
	text-transform:uppercase;}

#html .tituloTabla{
	height:22px; /* 22px - (2px + padding-top) */
	background:url("../images/bg_listadoHead.gif") repeat-x;
	border-left:1px #cee0f0 solid;
	border-bottom:1px #cee0f0 solid;
	font-size:11px;
	color: #0069aa;
	font-weight: bold;
	text-align: center;
	text-transform:uppercase;}

div.tablaListado tr {
	font-size: 11px;
	color:#000;
	padding: 2px;}

#html div.tablaListado tr {
	font-size: 11px;
	color:#000;
	padding: 2px;}

div.tablaListado tr.altRow {
	background-color: #fff;}

#html div.tablaListado tr.altRow {
	background-color: #fff;}

div.tablaListado td {
	height:22px;
	border-left:1px #cee0f0 solid;
	border-bottom:1px #cee0f0 solid;
	text-align:center;
}

#html div.tablaListado td {
	height:22px;
	border-left:1px #cee0f0 solid;
	border-bottom:1px #cee0f0 solid;
	text-align:center;
}

.sortedASC {
	background: url("../images/g_flechaArriba.gif") no-repeat 6px 5px;
	background-color:#c8e3fc;
}

.sortedDESC {
	background: url("../images/g_flechaAbajo.gif") no-repeat 6px 5px;
	background-color:#c8e3fc;
}

div.tablaListado tr.over {
	background:url("../images/bg_listadoSelected.gif") #FFFFFF bottom repeat-x;
	/*background-color: #e8f3fe;*/
	color: #000;
	cursor: pointer;
}

.tablaListado tr.hide {display: none;}

/* INICIO EFECTO SORTABLE TABLE */
div.tablaListado table thead tr{
	background:url("../images/bg_listadoHead.gif") top repeat-x;
}

.even {background-color: #ffffff;}
	
.odd {
	background-color: #f6f9fc;
}

.highlight {
	background-color: #3D3D3D;
	font-weight: bold;}

.header {
	background:url("../images/ico_small.gif") /*#e0eefa*/ no-repeat !important;
	background-position: top right !important;}

.headerSortUp {
	background: url("../images/ico_smallDesc.gif") #9fc3e2 no-repeat !important;
	/*background:url("../images/bg_listadoHead.gif") top repeat-x;*/
	background-position: top right !important;
	color:#ffffff;}

.headerSortDown {
	background:url("../images/ico_smallAsc.gif") #9fc3e2 no-repeat !important;
	background-position: top right !important;
	color:#ffffff;}

/* FIN EFECTO SORTABLE TABLE */

/* INICIO PAGINA ERROR */
div#esc_error{  
	width:100%;
	height: auto!important; /* para los browsers buenos */
	height: 250px;  /* para IE5+ */
	min-height: 250px; /* para los browsers buenos */
	background:url("../images/bg_errorAlerta.jpg") left top no-repeat;
	display:block;
	clear:both;}

div#esc_err_mensaje{  
	width:60%;
	height: auto!important; /* para los browsers buenos */
	height: 160px;  /* para IE5+ */
	min-height: 160px; /* para los browsers buenos */
	text-align:left;
	font-size:11px;
	font-weight:bold;
	margin-left:270px;
	margin-top:60px;
	display:block;
	color:#444444;	
	clear:both;
	float:left;}
	
* html div#esc_err_mensaje {display:inline;}  

div#esc_err_mensaje h1{  
	height:auto;
	font-size:26px;
	font-weight:normal;
	color:#0069aa;
	background:none;
	display:block;
	clear:both;
	margin:0px;
	padding:0px;
	margin-bottom:20px;}

div#esc_err_mensaje br{  
	clear:both;}

div#esc_err_mensaje p{  
	display:block;
	margin:0px;
	padding:0px;
	margin-bottom:16px;
	clear:both;}

div#esc_err_men_capaEnlace{  
	height:35px;
	float:right;
	clear:both;}
	
/* FIN PAGINA ERROR */

div.esc_formulario{  
	width:664px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	display:block;
	clear:both;}

div.esc_for_notificacion{
	width:664px;
	height: auto!important; /* para los browsers buenos */
	height: 52px; /* 58px - (2px border + padding-top) */ /* para IE5+ */
	min-height: 52px; /* para los browsers buenos */
	margin-bottom:20px;
	background:url("../images/bg_listadoIcoNotificacion.gif") #f6f6f6 no-repeat;
	background-position: 8px 5px; /* left top */
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px #8c0303 solid;
	display:inline-block;
	clear:both;}

div.esc_for_notificacion p{
	width:520px;
	margin:0px;
	padding:0px;
	margin-left:67px;
	font-weight:bold;
	text-align:justify;
	color:#444444;
	line-height:16px;
	display:block;
	float:left;}

* html div.esc_for_notificacion p{
	display:inline;}

div.esc_for_notificacion span{  
	font-weight:bold;
	color:#8c0303;
	display:block;}

div.esc_for_notificacion a{
	width:49px; /* 65px - padding-right */
	height:13px;
	background:url("../images/bg_cerrarNotificacion.gif") bottom left no-repeat;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:right;
	padding-right:16px;
	display:block;
	float:right;}

div.esc_for_notificacion a:hover{color:#FFFF99;}

/* ESTILOS EMERGENTE */
div#contenedorBoxy{
	width:440px;
	height:auto!important;
	height:100px;
	min-height:100px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	clear:both;
	background-color:#FFFFFF;
	border:none;}
	
a.cerrarEmergente{
	background-image:url(../images/boxy/ico_cerrar.gif);
	background-repeat:no-repeat;
	width:54px;
	height:26px; /* 26px - padding-top */
	display:block;
	float:right;}

a.cerrarEmergente:hover{
	background-image:url(../images/boxy/ico_cerrar_o.gif);
	background-repeat:no-repeat;}

h5{  
	height:26px; /* 28px - (2px Border) */
	margin-bottom:28px;
	border-bottom: 1px #c7ccd0 solid;
	background-color:#FFFFFF;
	display:block;
	clear:both;
	background:url("../images/bgSubTitulo.gif") repeat-x;}

h5 span{  
	height:21px; /* 26px - padding-top */
	margin-left:1px;
	margin-right:1px;
	padding: 5px 4px 0 9px; /* padding-top:5px; padding-right:4px; padding-left:9px; */
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing:0.5px;
	text-align:left;
	text-transform:uppercase;
	color:#0069aa;
	display:block;
	float:left;}

div#contenidoLB{
	width: 400px;
	height: auto!important; /* para los browsers buenos */
	height: 30px; /* para IE5+ */
	min-height: 30px; /* para los browsers buenos */
	margin-left:auto;
	margin-right:auto;
	color:#333333;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	display:block;
	clear:both;}

div#contenidoLB em{
	color:#444444;
	margin-bottom:20px;
	font-style:normal;
	display:block;}

div.con_imagenSesion{
	width:54px;
	height:68px;
	background:url("../images/ico_cronometro.jpg") top left no-repeat;
	display:block;
	float:left;}

div.con_contenidoSesion{
	width:290px;
	text-align:left;
	margin-left:16px;
	display:block;
	float:left;}

div.con_contenidoSesion table{
	width:290px;
	border:none;
	border-collapse:collapse;
	margin-top:15px;
	margin-bottom:10px;}

div.con_contenidoSesion table td, th, tr{
	border:none;
	border-collapse:collapse;}

div.con_contenidoSesion tbody th{
	width:74px; /* 80px - padding-right */
	height:14px; /* 19px - padding-top */
	padding-top:5px;
	padding-right:6px;
	text-align:right;
	font-size:11px;
	font-weight:bold;
	color:#333333;
	padding-bottom:10px;}

div.con_contenidoSesion tbody td{
	text-align:left;
	padding-bottom:10px;
	padding-top:4px;}

div.con_contenidoSesion tbody td input{
	width: 173px;
	height:20px;
	margin-top:2px;
	border:0;
	background:none;
	font-size:11px;
	color:#333333;
	display:block;
	float:left;}

div.con_bloqueInput{
	width:270px;
	height:20px;
	background:url("../images/bg_inputLogueo.gif") left no-repeat;
	display:block;}

*html div.con_bloqueInput{height:20px;}

div.con_bloqueInput span.icoUsuario{
	width:14px;
	height:14px;
	margin:3px;
	background:url("../images/ico_usuario.gif") left no-repeat;
	float:left;}

div.con_bloqueInput span.icoClave{
	width:14px;
	height:14px;
	margin:3px;
	background:url("../images/ico_clave.gif") left no-repeat;
	float:left;}

a.thickbox {/* imagen derecha */
	font-family:"Tahoma";
    background:url("../images/btn_escritorioRight.gif") no-repeat scroll top right!important;
    display: block!important;
    float: left!important;
    height: 31px!important;
    margin-right: 0px;
	margin-bottom:10px;
    padding-right: 5px!important;
	color: #FFFFFF;
	text-align:center;
	text-decoration: none;
	font-size:12px;
	font-weight:bold; 
	border:none!important;
	clear:both;
	cursor:pointer;}

a.thickbox span {/* imagen izquierda */ 
    background:url("../images/btn_escritorioLeft.gif") no-repeat!important; 
    display: block!important;
    line-height: 24px!important;
	height: 31px;
	padding-left: 26px!important;
	padding-right: 20px!important;
	clear:both;} 

a.thickbox:hover{
    background:url("../images/btn_escritorioRightHover.gif") no-repeat scroll top right!important;
	color:#ffffff;}

a.thickbox:hover span{
	background:url("../images/btn_escritorioLeftHover.gif") no-repeat!important; }
	
/* INICIO CONTENIDO DESPLEGABLE */

ul#bloque_ContenedorItem, ul#bloque_ContenedorItem li ul#bloque_SubContItem{  
	margin: 0px;
	padding: 0px;
	list-style-type: none;}

ul#bloque_ContenedorItem a.inactivo{
	height:26px;  /*28px - (2px Border) */ 
	margin-top:10px;
	margin-left:13px;
	margin-right:13px;
	margin-bottom:5px;
	border: 1px #c7ccd0 solid;
	background-color:#FFFFFF;
	display:block;
	clear:both;
	text-decoration:none;
	cursor: pointer;}
	
ul#bloque_ContenedorItem a.inactivo span{
	height:21px; /* 26px - padding-top */
	margin-left:1px;
	margin-right:1px;
	padding: 5px 4px 0px 0px;
	background:url("../images/bgSubTitulo.gif") bottom repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing:0.5px;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	color:#0069aa;
	display:block;}

ul#bloque_ContenedorItem a.inactivo :hover span{color:#003b5f;}
	
ul#bloque_ContenedorItem a.inactivo span em{  
	background:url("../images/ico_capaDesplegado.gif") no-repeat;
	background-position: 8px 2px;
	width:100%;
	padding-left:26px;
	font-style:normal;}

ul#bloque_ContenedorItem a.activo span em{
	background:url("../images/ico_capaDesplegable.gif") no-repeat;
	background-position: 8px 2px;
	width:100%;
	color:#f1a402!important;
	padding-left:26px;
	font-style:normal;}
	
/* FIN CSS CONTENIDO DESPLEGABLE */


/* ====================================================0
=====================INICIO CSS LOGUEO ==================*/

div#logueo{
	width:418px;
	height:291px; /* 301px - padding-top */
	padding-top:12px;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	background-image:url("../images/bg_logueo.gif");
	background-repeat:no-repeat;
	clear:both;}

div#log_Titulo{
	height:25px;  /* 33px - padding-top */
	padding-top:8px;
	padding-left:21px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:left;}

div#log_Contenido{
	width:380px;
	margin-left:auto;
	margin-right:auto;
	margin-top:54px;}

div.log_Separador{
	width:100%;
	height:23px;
	clear:both;}

div.log_Separador input{
	border:0;
	background:none;
	width: 180px;}

div.log_Sep_Texto{
	width:114px; /* 120px - padding-right */
	height:14px; /* 19px - padding-top */
	padding-top:5px;
	padding-right:6px;
	text-align:right;
	font-size:11px;
	font-weight:bold;
	color:#333333;
	float:left;}

div.log_Sep_Input{
	width:212px;
	height:20px;
	float:left;
	font-size:12px;
	background:url("../images/bg_inputLogueo.gif") left top no-repeat;
	border:0;}

div.log_Sep_Input span.icoUsuario{
	width:14px;
	height:14px;
	margin:3px;
	background:url("../images/ico_usuario.gif") left no-repeat;
	float:left;}

div.log_Sep_Input span.icoClave{
	width:14px;
	height:14px;
	margin:3px;
	background:url("../images/ico_clave.gif") left no-repeat;
	float:left;}

div.log_Sep_Mensaje{
	width:300px;
	height:19px;
	text-align:right;
	font-size:10px;
	color:#0d3f74;
	float:left;}

div.log_Sep_Mensaje a{
	font-size:10px;
	color:#0d3f74;
	text-decoration:none;}

div.log_Sep_Mensaje a:hover{
	text-decoration:none;
	color:#8B0000;}

div.log_Sep_Mensaje span{
	width:14px;
	height:14px;
	margin-right:5px;
	background:url("../images/ico_mensaje.gif") left bottom no-repeat;
	display:inline-block;}

div#log_BotonZona{
	/*width:100%;*/
	margin-top:43px;
	margin-left:120px;
	background-color:#CCCCCC;
	clear:both;}

a.log_Bot_EnlaceIngresar{
	width:103px;
	height:27px; /* 36px - (padding-top) */
	padding-top:9px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	background:url("../images/btn_logueoIngresar.gif") no-repeat;
	margin-right:5px;
	float:left;}

a:hover.log_Bot_EnlaceIngresar {background:url("../images/btn_logueoHover.gif") no-repeat;}

a.log_Bot_EnlaceIngresarLoading{
	width:103px;
	height:27px; /* 36px - (padding-top) */
	padding-top:9px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	background:url("../images/btn_logueoIngresar.gif") no-repeat;
	margin-right:5px;
	float:left;}

a:hover.log_Bot_EnlaceIngresarLoading {background:url("../images/btn_logueoHover.gif") no-repeat;}

a.log_Bot_EnlaceLimpiar{
	width:103px;
	height:27px; /* 36px - (padding-top) */
	padding-top:9px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	background:url("../images/btn_logueoLimpiar.gif") no-repeat;
	float:left;}

a:hover.log_Bot_EnlaceLimpiar {background:url("../images/btn_LogueoHover.gif") no-repeat;}

/* FIN CSS LOGUEO */

/*--Tooltip Styles Prueba 5--*/
#easyTooltip{
	padding:5px 10px;
	border:5px solid #9dd0ef;
	background:#f6f9fc;
	color:#0069aa;
	z-index:1000;
	max-width:350px;}
	
*html #easyTooltip{width:200px;}

.botonbe{border:1px solid #ADB3C9; background-color:#324280; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:11px; width:70px; height:21px;}
.botonbe2{border:1px solid #ADB3C9; background-color:#324280; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:11px; width:90px; height:26px;}

.fon_titulo{
	font-size:11px;
	color: #0069aa;
	font-weight: bold;
}

.etiqueta{
	font-size:11px;
	color:#37516d;
}
        
.selecciona120{
	width:180px;
	height:19px;
	color:#10549b;
	font-size:11px;
	text-align:center;
	background:#eff7fe;
	border:1px #7f9db9 solid;
}
        
table.check input{
	height:13px; width:13px;
}


/* Estilos para errores javascript (funciones.js)*/
.error{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}