
/* tabla NO es para el MENU*/
.columnheader{
	padding: 4px;
	border-right: 1px;
	border-bottom: 1px;
	background-color: White;	  
	font-size: 8pt;	
	color: #cc0000;
  text-align: left;
}

.columnheader_first{
	padding: 4px;
	border-right: 1px;
	border-bottom: 1px;
	background-color: White;
	width: 30px;		
	font-size: 8pt;	
	color: #cc0000;
  text-align: left;
}

.columnheader_final{
	padding: 4px;
	border-bottom: 1px;
	background-color: White;
	font-size: 8pt;	
	color: #cc0000;
  text-align: left;
}

.columnbody{        
  font-size: 8pt;
	padding: 4px;
	border-right: 1px;
	background-color: #ffffff;	
	color: #330099;	
}
.columnbody_first{
	padding: 4px;
	border-right: 1px;
	background-color: #ffffff;
	width: 30px;		
	font-size: 8pt;	
	color: #330099;	
}

.columnbody_final{
	padding: 4px;
	background-color: #ffffff;
	font-size: 8pt;	
	color: #330099;	
}

.bordertable{
	padding: 4px;
	border-top: 1px;	 
	border-left: 1px;
	border-right: 1px;
	border-bottom: 1px;
	background-color: White;
        font-size: 6pt;
  color: #330099;
}

.cmdbutton{
	border : 0px;
	font-family: arial;
	font-size: 9pt;
	color: rgb(0,0,0); 
 
	border: 1px solid rgb(0,0,0);
}

/* Texto de paginas*/

.texto{
	font-family: arial;
  font-size: 10pt;
  color: #330099;
}

.texto_blanco{
	font-family: "Arial";
  font-size: 8pt;
  color: #ffffff;
}

.texto_bl{
	font-family: "Arial";
  font-size: 7pt;
  color: #ffffff;
}

.texto_bl_n{
	font-family: "Arial";
  font-weight: bold;
  font-size: 9pt;
  color: #ffffff;
}

.texto_ch{
	font-family: arial;
  font-size: 8pt;
  color: #330099;
}

.titulo{
	font-family: arial bold;
  font-size: 12pt;
  color: #330099;
}

.titulor{
	font-family: arial bold;
  font-size: 12pt;
  /*color: #cc0000;*/
  color: #e70810;
}

.titulo2{
	font-family: arial bold;
  font-size: 9pt;
  color: #cc0000;
}


.txtitem{
  font-family: arial;
  font-size: 9pt;
	border : 1px solid rgb(0,0,0);
  color: rgb(0,0,0);
}

.oblig{
    color:Red;
    font-family: arial;
    font-size: 9pt;
}

.txtitemm{
  font-family: arial;
  font-size: 9pt;
	border : 1px solid rgb(0,0,0);
  font-weight: bold;
  color: rgb(0,0,0);
}

.txtitem2{
  font-family: arial;
  font-size: 12pt;
	border : 1px solid rgb(0,0,0);
  color: #e70810;
}

.txtitem3{
  font-family: arial;
  font-size: 12pt;
	border : 1px solid rgb(0,0,0);
  color: #FFFFFF;
}

.titulo_g{
	font-family: arial;
  font-size: 30pt;
  color: #000000;
}

.titulo_gb{
	font-family: arial;
  font-size: 30pt;
  color: #FFFFFF;
}

.titulo_b{
	font-family: arial bold;
  font-size: 12pt;
  /*color: #cc0000;*/
  color: #FFFFFF;
}
.sinEstilo{

}
A.link_home3:link {COLOR: #D7D7D7; TEXT-DECORATION: none; font-size: 11px;}
A.link_home3:visited {COLOR: #D7D7D7; TEXT-DECORATION: none; font-size: 11px;}
A.link_home3:hover {COLOR: #D7D7D7; TEXT-DECORATION: underline; font-size: 11px;}
A.link_home3:active {COLOR: #D7D7D7; TEXT-DECORATION: none; font-size: 11px;}


A.pagebanner:link {COLOR: #002299; TEXT-DECORATION: none; font-size: 11px;}
/*A.pagebanner:visited {COLOR: #888888; TEXT-DECORATION: none; font-size: 11px;}*/
A.pagebanner:visited {COLOR: #002299; TEXT-DECORATION: none; font-size: 11px;}
A.pagebanner:hover {COLOR: #002299; TEXT-DECORATION: underline; font-size: 11px;}
A.pagebanner:active {COLOR: #002299; TEXT-DECORATION: none; font-size: 11px;}

